<div class="container">
  <%# <%= link_to "Retour", lessons_path, class:'btn-kotch btn-red btn-extra-small mb-5'  %>
  <div class="card-messages card-blue px-4 pt-4 mb-3 mt-3" id="messages-<%= @lesson.id %>" style="background-image: url(<%= asset_path 'background1.png' %>);">
    <div class="d-flex justify-content-between">
      <p class="title-sport"><%= @lesson.sport_type %></p>
      <p class="text-blue"><b><%= Date.today.strftime('%d %b %Y') %></b></p>
      <p class="title-sport"><b>Coach <%= @lesson.user.first_name %></b></p>
    </div>
    <div class="msg-cards-box">
      <% if @messages %>
        <% @messages&.each do |message| %>
          <%= render 'message', message: message, lesson: @lesson %>
        <% end %>
      <% end %>
    </div>
    <%= render 'new_message', lesson: @lesson, message: @message %>
  </div>
</div>
