<% canonical(new_user_registration_url) %>
<% content_for :meta_title, "Koach & Co | Une inscription simple et gratuite" %>
<% content_for :meta_description, "Saisissez votre adresse email pour vous créer rapidement et simplement votre compte." %>

<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
    <div class="row mt-2 h-100">
      <div class="col-12 col-lg-6 px-5 my-auto">
        <div class="card-red p-3 p-lg-4">
          <div class="form-inputs">
            <div class="text-center">
              <%= image_tag "avatar_default.png", class:'avatar' %>
              <%= f.input :avatar, as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: 'modifier ma photo' %>
            </div>
            <h6 class='text-blue'><strong>GENRE</strong></h4>
            <%= f.input :gender, as: :radio_buttons, collection: User.genders.keys.map { |m| [I18n.t("gender.#{m}"), m] }, legend_tag: false %>
            <div class="row">
              <div class="col-6">
                <%= f.input :first_name, label: false, required: true %>
              </div>
              <div class="col-6">
                <%= f.input :last_name, label: false, required: true %>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <%= f.input :birth_date, as: :string, label: false, input_html: {class: "datepickerbirth"}, placeholder: "DATE DE NAISSANCE" %>
              </div>
              <div class="col-6">
                <%= f.input :address, label: false %>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }, label: false,
                        placeholder: "EMAIL*" %>
              </div>
              <div class="col-6">
                <%= f.input :phone_number, label: false %>
              </div>
              <div class="col-12 mb-3">
                <small class="text-light-blue">*utilisez votre email professionnel pour profiter des offres CE</small>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} charactères minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" }, label: false %>
              </div>
              <div class="col-6">
                <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" }, label: false %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 px-5 d-none d-lg-block my-auto">
        <%= image_tag "image-account.png", class:'w-100' %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 px-5 mt-2">
        <div class="card-red p-3 p-lg-4">
          <h4 class='text-blue'>PARLEZ NOUS UN PEU DE VOUS</h4>
          <div class="form-inputs">
            <div class="row">
              <div class="col-12 col-lg-6 px-lg-5 d-flex flex-column justify-content-between">
                <div>
                  <h6 class='text-white mt-3'>Quelles sont vos habitudes sportives ?</h6>
                  <%= f.input :sport_habits, as: :radio_buttons, collection: User.sport_habits.keys.map { |m| [I18n.t("sport_habits.#{m}"), m] }, legend_tag: false %>
                  <h6 class='text-white mt-3'>Présentez-vous des douleurs ou des incapacités physiques ?</h6>
                  <%= f.input :physical_pain, as: :radio_buttons, collection: User.physical_pains.keys.map { |m| [I18n.t("physical_pain.#{m}"), m] }, legend_tag: false %>
                </div>
                <div>
                  <%= image_tag 'sign_up.png', class:'w-100 d-none d-lg-block' %>
                </div>
              </div>
              <div class="col-12 col-lg-6 px-lg-5">
                <h6 class='text-white mt-3'>Que recherchez-vous dans la pratique d’une activité sportive ?</h6>
                <%= f.input :expectations, as: :radio_buttons, collection: User.expectations.keys.map { |m| [I18n.t("expectations.#{m}"), m] }, legend_tag: false%>
                <h6 class='text-white mt-3'>Comment définiriez-vous votre niveau d’activité physique actuel ?</h6>
                <%= f.input :level, as: :radio_buttons, collection: User.levels.keys.map { |m| [I18n.t("level.#{m}"), m] }, legend_tag: false %>
                <h6 class='text-white mt-3'>Quel type de pratique aimeriez-vous retrouver durant vos séances ?</h6>
                <%= f.input :intensity, as: :radio_buttons, collection: User.intensities.keys.map { |m| [I18n.t("intensity.#{m}"), m] }, legend_tag: false%>
              </div>
            </div>
          </div>

          <div class="form-actions text-condensed text-small">
            <%= f.input :terms, as: :boolean, label: "En cochant cette case, vous consentez à recevoir des propositions commerciales par voie électronique. Vous pouvez vous désinscrire à tout moment en modifiant vos paramètres sur votre compte et à travers les liens de désinscription." %>
            <p class="mb-0 text-small"><%= link_to "Conditions générales de vente", cgv_path  %></p>
            <%= f.input :optin_cgv, as: :boolean, label:  "Je reconnais avoir lu et accepté les conditions générales de vente", error: 'Vous devez accepter les CGV pour utiliser Koach and Co.' %>
            <%= f.button :submit, "VALIDEZ VOTRE PROFIL", class:'btn btn-kotch btn-blue w-100 btn-small-wide' %>
          </div>
          <div class="mt-4">
            <%= render "devise/shared/links" %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
