<p class="mb-3"><%= @user.enterprise_name.capitalize %>,</p>

<p>Nous confirmons l’annulation de votre séance de <%= @lesson.sport_type %> programmée <%= @lesson.date.localtime.strftime("le %d/%m/%Y / %k:%M") %> et ayant lieu à l’adresse suivante : <%= @lesson.location.name %>.</p>

<p>Programmez vite une nouvelle session ! Nous sommes pressés de revoir vos salariés.</p>

<p><%= link_to 'Réserver une nouvelle séance', new_lesson_url, class:'btn-red', target:'_blank', rel:'noopener noreferrer' %></p>

<p class="mt-5">À très vite</p>
