<p class="mb-3">Mauvaise nouvelle <%= @user.first_name.capitalize %>,</p>

<p>Ta réservation de séance de sport vient d’être annulée par ton coach.</p>

<p>Pour rappel, il s'agissait de <%= @lesson.user.first_name %> qui devait t’attendra a <%= @lesson.location.name %>, le <%= @lesson.date %> pour une séance de <%= @lesson.sport_type %>.</p>

<p>La messagerie reste ouverte avec ton coach et les participants pour de plus amples informations.</p>

<p class="mb-3"><%= link_to "Accède à la messagerie", lessons_url, class:'btn-red' %></p>

<p>Demande-lui de trouver une nouvelle date pour cette séance !</p>

<p class="mb-3">À très vite </p>
