<% canonical(coach_sign_up_url) %>
<% content_for :meta_title, "Koach & Co | Inscris toi en tant que coach sportif" %>
<% content_for :meta_description, "Tu es un coach sportif diplômé et tu souhaites rejoindre les équipes de Koach & Co ? Inscris toi directement sur ce lien ou bien contacte nous directement." %>

<div class="container">
  <% if user_signed_in? %>
    <div class="text-center">
      Vous avez déjà créé votre compte.
    </div>
  <% else %>
    <%= simple_form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>
            <%= f.error_notification %>
            <%= f.input :coach, as: :hidden, input_html: {value: true } %>
      <div class="row mt-2 h-100">
        <div class="col-12 col-lg-6 px-5 my-auto">
          <div class="card-red p-3 p-lg-4">
            <h5 class='text-blue text-center text-bold text-condensed'>JE SUIS COACH ET JE M'INSCRIS SUR KOACH & CO</h5>
            <div class="form-inputs">
              <div class="text-center">
                <%= image_tag "avatar_default.png", class:'avatar' %>
                <%= f.input :avatar, as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: 'modifier ma photo' %>
              </div>
              <h6 class='text-blue'><strong>GENRE</strong></h4>
              <%= f.input :gender, as: :radio_buttons, collection: User.genders.keys.map { |m| [I18n.t("gender.#{m}"), m] }, legend_tag: false %>
              <div class="row">
                <div class="col-6">
                  <%= f.input :first_name, label: false %>
                </div>
                <div class="col-6">
                  <%= f.input :last_name, label: false %>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <%= f.input :birth_date, as: :string, label: false, input_html: {class: "datepickerbirth"} %>
                </div>
                <div class="col-6">
                  <%= f.input :address, label: false %>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }, label: false%>
                </div>
                <div class="col-6">
                  <%= f.input :phone_number, label: false %>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} charactères minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" }, label: false %>
                </div>
                <div class="col-6">
                  <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" }, label: false %>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <%= f.input :optin_cgv, :as => :hidden, :input_html => { :value => true } %>
                  <%= f.button :submit, "JE CRÉE MON COMPTE", class:'btn btn-kotch btn-blue w-100 btn-small-wide' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 px-5 d-none d-lg-block my-auto">
          <%= image_tag "image-account.png", alt: "Une femme souriante après une séance de sport", loading: 'lazy', class:'w-100' %>
        </div>
    <% end %>
  <% end %>
</div>
