<div class="card-blue shadow d-flex justify-content-between p-4 mb-3">
  <div>
    <% if booking.lesson.user_id %>
      <p class="mb-0 text-blue text-bold text-condensed text-small">Avec coach <%= booking.lesson.user.first_name %></p>
    <% else %>
      <p class="mb-0 text-blue text-bold text-condensed text-small">Pas de coach</p>
    <% end %>
    <p class="mb-0 text-blue text-bold text-condensed text-small"><%= booking.lesson.date.strftime(' %e %B %Y %lh%M')%></p>
    <% if !booking.lesson.public %>
      <%= link_to change_lesson_public_path(booking.lesson) do %>
      <p class=" mb-0 text-small">Passer la séance en publique</p>
      <% end %>
    <% else %>
      <p class="mb-0 text-blue text-bold text-condensed text-small">Séance publique</p>
    <% end %>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#exampleModal-<%= booking.id %>">
      <%= booking.lesson.users.count %> participants
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal-<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModal-<%= booking.id %>Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content card-kotch">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% booking.lesson.users.each do |user| %>
              <div class="d-flex justify-content-between">
                <p><%= user.full_name %></p>
                <p><em><%= Booking.find_by(user: user, lesson: booking.lesson).status %></em></p>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-kotch btn-blue" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
    <% if booking.lesson.status == "pending" || "canceled" %>
      <div class="pill pill-red text-center mt-3">
        <%= booking.lesson.status %>
      </div>
    <% elsif booking.lessons.status == 'confirmé' %>
      <div class="pill pill-green text-center mt-3">
        <%= booking.lesson.status %>
      </div>
    <% end %>
  </div>
  <div class="d-flex flex-column justify-content-between text-right">
    <span class="title-sport"><%= booking.lesson.sport_type.upcase %></span>
    <% if booking.lesson.bookings.count <= 10 %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#addUserModal-<%= booking.id %>">
        + ajouter des participants
      </button>

      <!-- Modal -->
      <div class="modal fade" id="addUserModal-<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="addUserModal-<%= booking.id %>Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content card-kotch">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-blue py-5">
              <% @users_to_invite = @friends - booking.lesson.users.to_a %>
              <%= simple_form_for @booking do |f| %>
                <%= f.association :user, collection: @users_to_invite.map { |m| [m.full_name, m.id] }, label: "Sélectionner parmi vos amis" %>
                <%= f.input :lesson_id, as: :hidden, input_html: {value: booking.lesson.id } %>
                <%= f.submit 'Envoyer une invitation', class:'btn btn-kotch btn-blue w-100' %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-kotch btn-light-blue" data-dismiss="modal">Annuler</button>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <p class="text-blue text-condensed text-small"> <em>Il y a dejà 10 participants à cette séance</em></p>
    <% end %>
  </div>
</div>
