<div class="card-blue profile-box profile-box-bg">
  <ul class="nav nav-tabs justify-content-between rounded-top-right rounded-top-left" role="tablist">
    <li class="nav-item">
      <a class="active btn btn-big rounded-0" data-toggle="tab" href="#tabs-1" role="tab">Coachings à venir</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-big rounded-0" data-toggle="tab" href="#tabs-2" role="tab">Demandes de coachings</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-big rounded-0" data-toggle="tab" href="#tabs-3" role="tab">Historique des coachings</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content p-3">
    <div class="tab-pane active" id="tabs-1" role="tabpanel">
      <table class="w-100 text-center">
        <thead class="w-100">
          <tr>
            <th>SPORT</th>
            <th>DATE</th>
            <th>HEURE</th>
            <th>LIEU</th>
            <th>STATUT</th>
            <th>PARTICIPANTS</th>
          </tr>
        </thead>
        <tbody>
          <% @coachings_in_future&.each do |lesson| %>
            <tr>
              <td class='py-2'><%= lesson.sport_type %></td>
              <td class='py-2'><%= lesson.date.strftime('%d/%m/%Y') %></td>
              <td class='py-2'><%= lesson.date.strftime('%H:%M') %></td>
              <td class='py-2'><%= lesson.location.name %></td>
              <td class='py-2'>
                  <% if lesson.status == "pending" %>
                    En attente
                  <% else %>
                    <%= lesson.status.capitalize %>
                  <% end %>
              </td>
              <td class='py-2'>
                <%= lesson.bookings.count %> participant(s)
                <button type="button" class="btn-plus" data-toggle="modal" data-target="#modal-<%= lesson.id %>"><i class="fas fa-plus-circle fa-xs"></i></button>
              </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="modal-<%= lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="participantsModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content participants-modal">
                  <div class="modal-header d-flex">
                    <h3 class="modal-title" id="participantsModalLabel"><%= lesson.sport_type.upcase %></h3>
                    <p><i><%= lesson.date.strftime("%d/%m/%Y") %></i></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h5 class="my-3">PARTICIPANTS</h5>
                    <% lesson.bookings.each do |booking| %>
                      <span>
                        <div class="bullet">• &nbsp</div>
                        <ul class="d-flex justify-content-between">
                          <li><%= booking.user.first_name %> <%= booking.user.last_name.upcase %></li>
                          <%= link_to sportive_profile_path(booking.user) do %>
                            <i class="fas fa-paper-plane pr-5"></i>
                          <% end %>
                        </ul>
                      </span>
                    <% end %>
                    <h5 class="my-3">ÉLÉMENTS TRAVAILLÉS PENDANT LA SÉANCES</h5>
                    <%= simple_form_for lesson, url: focus_lesson_path(lesson), method: :get do |f| %>
                      <%= f.input :focus, label: false %>
                    <%= f.submit "Enregistré les éléments travaillés", class:'btn btn-kotch btn-ghost' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- End modal -->
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="tabs-2" role="tabpanel">
      <table class="w-100 text-center">
          <thead class="w-100">
            <tr>
              <th>SPORT</th>
              <th>DATE</th>
              <th>HEURE</th>
              <th>LIEU</th>
              <th>STATUT</th>
              <th>PARTICIPANTS</th>
              </tr>
          </thead>

        <tbody>
        <% @coachings_requests&.each do |lesson| %>
            <tr>
              <td class='py-2'><%= lesson.sport_type %></td>
              <td class='py-2'><%= lesson.date.strftime('%d/%m/%Y') %></td>
              <td class='py-2'><%= lesson.date.strftime('%H:%M') %></td>
              <td class='py-2'><%= lesson.location.name %></td>
              <td class='py-2'>
                <%= link_to "Je souhaite coacher cette séance", be_coach_path(lesson), class: 'small-link'  %>
              </td>
              <td class='py-2'>
                <%= lesson.bookings.count %> participant(s)
                <button type="button" class="btn-plus" data-toggle="modal" data-target="#modal-<%= lesson.id %>"><i class="fas fa-plus-circle fa-xs"></i></button>
              </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="modal-<%= lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="participantsModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content participants-modal">
                  <div class="modal-header d-flex">
                    <h3 class="modal-title" id="participantsModalLabel"><%= lesson.sport_type.upcase %></h3>
                    <p><i><%= lesson.date.strftime("%d/%m/%Y") %></i></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h5 class="my-3">PARTICIPANTS</h5>
                    <% lesson.bookings.each do |booking| %>
                      <span><div class="bullet">• &nbsp</div>
                      <ul class="d-flex justify-content-between">
                        <li><%= booking.user.first_name %> <%= booking.user.last_name.upcase %></li>
                        <%= link_to sportive_profile_path(booking.user) do %>
                          <i class="fas fa-paper-plane pr-5"></i>
                        <% end %>
                      </ul>
                      </span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- End modal -->
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="tabs-3" role="tabpanel">
      <table class="w-100 text-center">
        <thead class="w-100">
          <tr>
            <th>SPORT</th>
            <th>DATE</th>
            <th>HEURE</th>
            <th>LIEU</th>
            <th>STATUT</th>
            <th>PARTICIPANTS</th>
          </tr>
        </thead>
        <tbody>
          <% @coachings_in_past&.each do |lesson| %>
            <tr>
              <td class='py-2'><%= lesson.sport_type %></td>
              <td class='py-2'><%= lesson.date.strftime('%d/%m/%Y') %></td>
              <td class='py-2'><%= lesson.date.strftime('%H:%M') %></td>
              <td class='py-2'><%= lesson.location.name %></td>
              <td class='py-2'>
                <% if lesson.status == "effectuée" || lesson.status == "non effectuée" %>
                  <%= lesson.status.capitalize %>
                <% else %>
                  <%= link_to "Effectuée", lesson_done_path(lesson), class:'pill pill-green' %><%= link_to "Non effectuée", lesson_not_done_path(lesson), class:'pill pill-red' %>
                <% end %>
              </td>
              <td class='py-2'>
                <%= lesson.bookings.count %> participant(s)
                <button type="button" class="btn-plus" data-toggle="modal" data-target="#modal-<%= lesson.id %>"><i class="fas fa-plus-circle fa-xs"></i></button>
              </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="modal-<%= lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="participantsModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content participants-modal">
                  <div class="modal-header d-flex">
                    <h3 class="modal-title" id="participantsModalLabel"><%= lesson.sport_type.upcase %></h3>
                    <p><i><%= lesson.date.strftime("%d/%m/%Y") %></i></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h5 class="my-3">PARTICIPANTS</h5>
                    <% lesson.bookings.each do |booking| %>
                      <span>
                        <div class="bullet">• &nbsp</div>
                        <ul class="d-flex justify-content-between">
                          <li><%= booking.user.first_name %> <%= booking.user.last_name.upcase %></li>
                          <%= link_to sportive_profile_path(booking.user) do %>
                            <i class="fas fa-plus-circle"></i>
                          <% end %>
                        </ul>
                      </span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- End modal -->
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%#
REFERENCES FOR CSS CLASSES

.profile-box                              => pages/_profile.scss
.participants-modal                       => pages/_profile.scss
.btn-plus                                 => _buttons.scss
%>
