<button role="button" class="profil-btn-mobile col-12 mb-3 tab-1" data-profile-target="futurLesson" data-action="click->profile#futur">Séance à venir</button>

<table class="w-100 text-center hidden shadow" data-profile-target="futurLessonTable">
  <thead class="w-100">
    <tr>
      <th>Sport</th>
      <th>Date et heure</th>
      <th>Statut</th>
      <th>Détail</th>
    </tr>
  </thead>
  <tbody>
    <% if @bookings_in_future.any? %>
      <% @bookings_in_future.each do |booking| %>
        <tr>
          <td class='py-2'><%= booking.lesson.sport_type %></td>
          <td class='py-2'><%= booking.lesson.date.strftime('%d/%m/%Y à %H:%M') %></td>
          <td class='py-2'>
            <% if booking.lesson.status == "pending" %>
              En attente
            <% elsif booking.lesson.status == "canceled" %>
              Annulée
            <% else %>
              <%= booking.lesson.status %>
            <% end %>
          </td>
          <td class='py-2'>
            <button type="button" class="btn-plus" data-toggle="modal" data-target="#modal1-<%= booking.lesson.id %>"><i class="fas fa-plus-circle"></i></button>
          </td>
        </tr>
        <!-- Modal -->
        <div class="modal fade" id="modal1-<%= booking.lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="participantsModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content participants-modal">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
                </button>
              </div>
              <div class="modal-body">
                <p class="mt-1">
                    <span class="text-bold">Coach : </span>
                  <% if  booking.lesson.user %>
                    <%= booking.lesson.user.first_name if booking.lesson.user_id%>
                  <% else %>
                    Il n'y a pas encore de coach
                  <% end %>
                </p>
                <p class="my-3"><span class="text-bold">Lieu : </span><%= booking.lesson.location.name %></p>
                <span class="mb-1 text-bold">Participants</span>
                <% booking.lesson.bookings.includes([:user]).each do |booking| %>
                  <div class="">
                    <p><%= booking.user.first_name.capitalize %> <%= booking.user.last_name.capitalize %></p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!-- End modal -->
      <% end %>
    <% end %>
  </tbody>
</table>

<button role="button" class="profil-btn-mobile col-12 mb-3 tab-2" data-profile-target="oldLesson" data-action="click->profile#old">Historique des séances</button>

<table class="w-100 text-center shadow hidden" data-profile-target="oldLessonTable">
  <thead class="w-100">
    <tr>
      <th>Sport</th>
      <th>Date et heure</th>
      <th>Coach</th>
      <th>Détail</th>
    </tr>
  </thead>
  <tbody>
    <% if @bookings_in_past.any? %>
      <% @bookings_in_past.each do |booking| %>
        <tr>
          <td class="py-2"><%= booking.lesson.sport_type %></td>
          <td class="py-2"><%= booking.lesson.date.strftime('%d/%m/%Y à %H:%M') %></td>
          <td class="py-2"><%= booking.lesson.user.first_name if booking.lesson.user_id%></td>
          <td>
            <button type="button" class="btn-plus" data-toggle="modal" data-target="#modal-past-bookings-<%= booking.lesson.id %>"><i class="fas fa-plus-circle"></i></button>
          </td>
        </tr>
        <!-- Modal -->
        <div class="modal fade" id="modal-past-bookings-<%= booking.lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="participantsModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content participants-modal">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
                </button>
              </div>
              <div class="modal-body">
                <p class="mt-1">
                  <span class="text-bold">Statut : </span>
                  <% if booking.lesson.status == "pending" %>
                    En attente
                  <% elsif booking.lesson.status == "canceled" %>
                    Annulée
                  <% else %>
                    <%= booking.lesson.status %>
                  <% end %>
                </p>
                <p class="my-3"><span class="text-bold">Lieu : </span><%= booking.lesson.location.name %></p>
                <span class="mb-1 text-bold">Participants</span>
                <% booking.lesson.bookings.includes([:user]).each do |booking| %>
                  <div class="">
                    <p><%= booking.user.first_name.capitalize %> <%= booking.user.last_name.capitalize %></p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!-- End modal -->
      <% end %>
    <% end %>
  </tbody>
</table>

<button role="button" class="profil-btn-mobile col-12 mb-3 tab-3" data-profile-target="subscription" data-action="click->profile#order">Mon abonnement / Mes achats</button>

<div class="hidden shadow px-5" data-profile-target="subscriptionData" id="profile-mobile-order">
  <% if current_user.subscription && current_user.subscription.stripe_id %>
    <div class="text-center">
      <p class="text-blue mt-1 mb-0">Vous êtes actuellement abonné(e) au plan <%= current_user.subscription.nickname %>.</p>
      <form action="/customer_portal_sessions" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button class="btn btn-kotch btn-red">Gérer mon abonnement</button>
      </form>
    </div>
  <% else %>
    <div class="text-center">
      <p class="text-blue mb-0">Vous n'avez pas d'abonnement à Koach.</p>
      <%= link_to "Je m'abonne", offers_path, data: { turbolinks: "false" }, class:'btn btn-red btn-kotch' %>
    </div>
  <% end %>
  <div class="text-center">
    <% if current_user.credit_count > 0 %>
      <p class="text-blue mt-4 mb-0">Vous avez <%= current_user.credit_count %> crédits hors abonnement.</p>
    <% else %>
      <p class="text-blue mt-4 mb-0">Vous n'avez pas de séances hors abonnement.</p>
    <% end %>
    <%= link_to "J'achète des séances", offers_path(anchor: "lessons-individually"), data: { turbolinks: "false" }, class:'btn btn-red btn-kotch' %>
  </div>
  <div class="text-center">
    <p class="text-blue mt-4 mb-0">Entrer un code promotionnel ou de parrainage :</p>
    <%= simple_form_for current_user, url: use_a_promo_code_path(current_user), method: :patch do |f| %>
      <%= text_field_tag :code, nil, label: "Nom du code", class:'text-uppercase', input_html: { class:'promotional-input' } %>
      <br>
      <%= submit_tag "J'utilise ce code", class:'btn btn-red btn-kotch mb-2 mt-1' %>
    <% end %>
  </div>
</div>
