<div class="container">
  <div class="row mt-4">
    <div class="col text-blue">
      <h1>PROFIL SPORTIF DE <%= @user.full_name %> </h1>
      <p>Année de naissance : <%= @user.birth_date.strftime('%Y') unless @user.birth_date.nil? %></p>
      <p>Habitudes sportives : <%= @user.sport_habits %></p>
      <p>Douleurs : <%= @user.physical_pain %></p>
      <p>Niveau sportif : <%= @user.level %></p>
      <p>Intensité habituelle : <%= @user.intensity %></p>
      <p>Attentes : <%= @user.expectations %></p>
      <%= link_to "Retour à mon profil coach", lessons_path, class: 'btn btn-kotch btn-red'  %>
    </div>
  </div>
</div>
