<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-lg-8 px-5">
      <div class="card-red p-5">

        <h2>Modifier votre mot de passe</h2>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>

          <div class="form-inputs">
            <%= f.input :password,
                        label: "Nouveau mot de passe",
                        required: true,
                        autofocus: true,
                        hint: ("#{@minimum_password_length} charactères minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        label: "Confirmez votre nouveau mot de passe",
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Changer mon mot de passe", class: 'btn btn-kotch btn-blue w-100 btn-small-wide' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
