<footer>
  <div class="container italic">
    <div class="d-flex justify-content-center align-items-center">
      <p><%= link_to "A propos", about_path, class:'footer-link mx-0 mx-md-2'%> /
      <%= link_to "FAQ", faq_path, class:'footer-link mx-0 mx-md-2'%> /
      <%= link_to "Forum", forum_path, class:'footer-link mx-0 mx-md-2'%> /
      <a href="mailto:contact@koachandco.com" class="footer-link mx-0 mx-md-2">Contact</a> /
      <% unless user_signed_in? %>
        <%= link_to "Je suis coach", coach_sign_up_path, class:'footer-link mx-0 mx-md-2'%> /
      <% end %>
      <%= link_to "Mentions légales", legals_path, class:'footer-link mx-0 mx-md-2'%> /
      <%= link_to "CGV", cgv_path, class:'footer-link mx-0 mx-md-2'%></p>
    </div>
    <div class="text-center mt-2">
      <p class="footer-social-title">REJOIGNEZ NOUS SUR LES RESEAUX SOCIAUX</p>
      <div class="d-flex justify-content-center mb-3">
        <a href="https://instagram.com/koachandco?utm_medium=copy_link", target="_blank", rel="noopener noreferrer", class="mr-3", alt="logo Instagram"><%= image_tag 'instagram.png', width: 50 %></a>
        <a href="https://www.facebook.com/profile.php?id=100060081436490", target="_blank", rel="noopener noreferrer", alt="logo Facebook"><%= image_tag 'facebook.png', width: 50 %></a>
      </div>
    </div>
  </div>
</footer>
