<div class="navbar navbar-light navbar-lewagon fixed-top">
  <div class="container align-items-end px-2">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logo.png', alt: "logo Koach & Co" %>
    <% end %>

    <div class="nav-item dropdown">
      <div class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
        <%= image_tag "burger-icon.png", class:'navbar-icon mb-2', alt: "menu déroulant" %>
      </div>
      <div class="dropdown-menu dropdown-menu-mobile mt-2 dropdown-menu-right p-3" aria-labelledby="navbarDropdown">
        <% if user_signed_in? %>
          <div class="d-flex align-items-center mb-3">
            <%= cl_image_tag current_user.profile_picture, class:'avatar-small', alt: "avatar" %>
            <p class='text-blue text-bold ml-2 mb-0'>BONJOUR <%= current_user.first_name.upcase %></p>
          </div>
          <% if current_user.coach %>
            <%= link_to "Ajouter une séance", new_lesson_path, class: "dropdown-item text-white px-0" %>
          <% else %>
            <%= link_to "Réserver une séance", new_lesson_path, class: "dropdown-item text-white px-0" %>
          <% end %>
          <%= link_to "Mon profil", profile_path, class: "dropdown-item text-white px-0" %>
          <% if current_user.coach %>
            <div class="d-flex align-items-center justify-content-start">
              <%= link_to "Mes coachings", lessons_path, class: "dropdown-item text-white px-0 w-50" %>
              <% if @message_not_readed_coach.present? %>
                <div class="blue-dot mt-1"></div>
              <% end %>
            </div>
          <% else %>
            <div class="d-flex align-items-center">
              <%= link_to "Mes réservations", lessons_path, class: "dropdown-item text-white px-0 w-50" %>
              <% if @message_not_readed_customer.present? %>
                <div class="blue-dot ml-3 mt-1"></div>
              <% end %>
            </div>
          <% end %>
          <%= link_to "Voir les séances publiques", public_lessons_path, class: "dropdown-item text-white px-0" %>
          <% unless current_user.coach %>
            <div class="d-flex align-items-center">
              <%= link_to "Mes amis", friendships_path, class: "dropdown-item text-white px-0 w-25" %>
              <% if @new_friend_requests_received.present? %>
                <div class="blue-dot ml-3 mt-1"></div>
              <% end %>
            </div>
          <% end %>
          <%= link_to "DÉCONNEXION", destroy_user_session_path, method: :delete, class: "btn btn-kotch btn-blue btn-extra-small w-100 text-center mt-3" %>
          <%= link_to "Besoin d'aide ?", faq_path, class:"small-link" %>
        <% else %>
          <%= link_to "Notre concept", concept_path, class: "dropdown-item text-white" %>
          <%= link_to "Nos offres", offers_path, data: {turbolinks: "false"}, class: "dropdown-item text-white" %>
          <%= link_to "Voir les séances publiques", public_lessons_path, class: "dropdown-item text-white" %>
          <%= link_to "Connexion", new_user_session_path, class: "dropdown-item text-white" %>
          <%= link_to "Inscription", new_user_registration_path, class: "btn btn-kotch btn-blue btn-extra-small w-100 text-center mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
