<div class="navbar navbar-expand-sm navbar-light navbar-lewagon-desktop fixed-top">
  <div class="container align-items-end px-2">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logo.png' %>
      <% end %>

    <div>
      <ul class="navbar-nav mr-auto align-items-end">
        <% unless (current_user && current_user.coach) %>
            <li class="nav-item">
              <em>
                <%= link_to "NOS OFFRES", offers_path, class: "nav-link ml-5" %>
              </em>
            </li>
          <% end %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <em>
              <% if current_user.coach %>
                <%= link_to "CRÉER UNE SÉANCE", new_lesson_path, class: "nav-link ml-5" %>
              <% else %>
                <%= link_to "RÉSERVER UNE SÉANCE", new_lesson_path, class: "nav-link ml-5" %>
              <% end %>
            </em>
          </li>
          <li class="nav-item">
            <em>
              <%= link_to "SÉANCES PUBLIQUES", public_lessons_path, class: "nav-link ml-5" %>
            </em>
          </li>
          <li class="nav-item dropdown">
            <div class="ml-5 dropdown-toggle btn btn-kotch btn-ghost-blue btn-extra-small" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <em>MON COMPTE</em>
            </div>
            <div class="dropdown-menu mt-2 dropdown-menu-right p-3" aria-labelledby="navbarDropdown">
              <div class="d-flex align-items-center">
                <%= cl_image_tag current_user.profile_picture, class:'avatar-small' %>
                <p class='text-blue text-bold mb-0 ml-2'>BONJOUR <%= current_user.first_name.upcase %></p>
              </div>
              <%= link_to "Mon profil", profile_path, class: "dropdown-item text-white px-0" %>
              <% unless current_user.coach %>
                <%= link_to "Mon abonnement", "#", class: "dropdown-item text-white px-0" %>
              <% end %>
              <% if current_user.coach %>
                <%= link_to "Mes coachings", lessons_path, class: "dropdown-item text-white px-0" %>
              <% else %>
                <%= link_to "Mes réservations", lessons_path, class: "dropdown-item text-white px-0" %>
              <% end %>
              <% unless current_user.coach %>
                <%= link_to "Mes amis", friendships_path, class: "dropdown-item text-white px-0" %>
              <% end %>
              <%= link_to "DÉCONNEXION", destroy_user_session_path, method: :delete, class: "btn btn-kotch btn-blue btn-extra-small w-100 text-center mt-3" %>
              <%= link_to "Besoin d'aide ?", "#", class:"small-link" %>
              <% if current_user.admin? %>
                <%= link_to "Dashboard", dashboard_path, class:"small-link" %>
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <em>
              <%= link_to "NOS OFFRES", offers_path, class: "nav-link ml-5" %>
            </em>
          </li>
          <li class="nav-item">
            <em>
            <%= link_to "INSCRIPTION", new_user_registration_path, class: "nav-link ml-5" %>
            </em>
          </li>
          <li class="nav-item">
            <em>
            <%= link_to "CONNEXION", new_user_session_path, class: "nav-link ml-5" %>
            </em>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
