<div class="navbar navbar-light navbar-lewagon fixed-top">
  <div class="container align-items-end px-2">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logo.png' %>
    <% end %>

    <div class="nav-item dropdown">
      <div class="ml-5 dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
        <%= image_tag "burger-icon.png", class:'navbar-icon mb-2' %>
      </div>
      <div class="dropdown-menu dropdown-menu-mobile mt-2 dropdown-menu-right p-3" aria-labelledby="navbarDropdown">
        <% if user_signed_in? %>
          <div class="d-flex align-items-center">
            <%= cl_image_tag current_user.profile_picture, class:'avatar-small' %>
            <p class='text-blue text-bold mb-0 ml-2'>BONJOUR <%= current_user.first_name.upcase %></p>
          </div>
          <%= link_to "Réserver une séance", "#", class: "dropdown-item text-white px-0" %>
          <%= link_to "Mon profil", "#", class: "dropdown-item text-white px-0" %>
          <%= link_to "Mon abonnement", "#", class: "dropdown-item text-white px-0" %>
          <%= link_to "Mes réservations", "#", class: "dropdown-item text-white px-0" %>
          <%= link_to "Mes amis", "#", class: "dropdown-item text-white px-0" %>
          <%= link_to "DÉCONNEXION", destroy_user_session_path, method: :delete, class: "btn btn-kotch btn-blue btn-extra-small w-100 text-center mt-3" %>
          <%= link_to "Besoin d'aide ?", "#", class:"small-link" %>
        <% else %>
          <%= link_to "Nos offres", "#", class: "dropdown-item text-white" %>
          <%= link_to "Connexion", new_user_session_path, class: "dropdown-item text-white" %>
          <%= link_to "Inscription", new_user_registration_path, class: "btn btn-kotch btn-blue btn-extra-small w-100 text-center mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
