<p class="mb-3"><%= @user.first_name.capitalize %>,</p>

<p>Nous confirmons l’annulation de ta séance de <%= @lesson.sport_type %> programmée <%= @lesson.date.localtime.strftime("le %d/%m/%Y à %k:%M") %> au <%= @lesson.location.name %> avec ton coach <%= @lesson.user ? @lesson.user.first_name : 'pas de coach' %> !</p>

<p>Ne perds pas la forme ! Nous sommes pressés de te revoir, réserve vite une nouvelle session.</p>

<p class="mb-3"><%= link_to 'Réserve ta séance', new_lesson_url, class:'btn-red', target:'_blank', rel:'noopener noreferrer' %></p>

<p class="mb-3">À très vite </p>
