<p class="mb-3">Bonjour <%= @user.first_name.capitalize %> !</p>

<p>Ta séance de <%= @lesson.sport_type %> <%= @lesson.date.localtime.strftime("du %d/%m/%Y à %k:%M") %> à l'adresse suivante : <%= @lesson.location.name %> est validée.</p>

<p>Organise ta séance et utilise la messagerie instantanée pour communiquer avec les participants, connaître leurs attentes, et préparer la séance à venir !</p>

<p class="mb-3"><%= link_to 'Envoie un message', lesson_messages_url(@lesson), class:'btn-red', target:'_blank', rel:'noopener noreferrer' %></p>

<p class="mt-5">À très vite </p>
