<p class="mb-3">Bonjour <%= @user.first_name.capitalize %> !</p>

<p>Une séance est complète avec 5 élèves ou a été pré-validée et n'a pas de coach.</p>
<p>Détails de la séance :</p>
<p><%= @lesson.sport_type %></p>
<p><%= @lesson.date.localtime.strftime("le %d/%m/%Y à %k:%M") %></p>
<p class="mb-3"><%= @lesson.location.name %></p>

<p>Si tu souhaites te positionner, tu peux le faire dans ton profil :</p>

<%= link_to "Je me positionne", profile_url, class:'btn-red mb-3', target:'_blank', rel:'noopener noreferrer' %>

<p class="mb-3">À très vite </p>
