<p class="mb-3">Bonjour <%= @user.first_name.capitalize %> !</p>

<p>Tu viens de recevoir une proposition de séance pour un <%= @lesson.sport_type %>, <%= @lesson.date.localtime.strftime("le %d/%m/%Y à %k:%M") %> au <%= @lesson.location.name %>.</p>

<p>Cette séance te convient ? Alors donne ta réponse sur ton compte personnel, rubrique Mon profil > Demandes de coaching.</p>

<p><%= link_to 'Accepte cette séance', profile_url, class:'btn-red mb-3', target:'_blank', rel:'noopener noreferrer' %></p>

<p class="mb-3">À très vite </p>
