<p class="mb-3">Bonjour <%= @user.first_name.capitalize %> !</p>

<p><%= @friend.first_name.capitalize %> vient de t’envoyer une invitation pour participer à la séance de <%= @booking.lesson.sport_type %> du <%= @booking.lesson.date %> à <%= @booking.lesson.location.name %> avec le coach <%= @booking.lesson.user ? @booking.lesson.user.first_name.capitalize : '(pas de coach)' %></p>

<p>Ne tarde pas et réponds vite à son invitation !</p>

<%= link_to 'Valide ta séance', lessons_url, class:'btn-red mb-3', target:'_blank', rel:'noopener noreferrer' %>

<p>Ce créneau ne correspond pas à ton planning ?</p>
<p>Connecte-toi sur Koach & Co, définis la séance qui te convient le mieux et partage-la avec tes amis !</p>

<%= link_to 'Propose une nouvelle séance', new_lesson_url, class:'btn-red mb-3', target:'_blank', rel:'noopener noreferrer'  %>

<p class="mb-3">Nous te souhaitons un bon moment parmi nous ! Et n’oublie pas ta gourde, ta serviette et ta bonne humeur !!</p>

<p class="mb-3">À très vite </p>
