<style>
  p {
    font-family: sans-serif;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  img {
    width: 200px;
  }
  .mb-3 {
    margin-bottom: 20px;
  }
</style>

<p class="mb-3">Bonjour <%= @user.first_name.capitalize %> !</p>

<p>Une séance est complète avec 5 élèves et n'a pas de coach.</p>
<p>Détails de la séance :</p>
<p><%= @lesson.sport_type %></p>
<p><%= @lesson.date %></p>
<p class="mb-3"><%= @lesson.location.name %></p>

<p>Si tu souhaite to positionner, merci de clicker sur ce lien :</p>
<%= link_to "Je me positionne", be_coach_via_mail_url(@lesson, @user) %>

<p class="mb-3">À très vite </p>

<p class="mb-3">Ton équipe Koach & Co</p>
<%#= image_tag 'logo-pink.png' %>
<!-- link to insta + facebook -->


