<div class="p-3">
  <div class="card-banner-home shadow">
    <%= image_tag "image-banner-home.png" %>
    <div class="mt-5 pt-lg-5">
      <div class="text-center">
        <h1 class='pt-5 title-banner-home mx-auto'>LE SPORT OÙ ET QUAND VOUS VOULEZ</h1>
      </div>
    </div>
    <%= link_to "DÉBUTEZ L'EXPÉRIENCE", new_lesson_path, class:"d-none d-lg-block btn btn-kotch btn-blue btn-big btn-banner-home"  %>
    <%= link_to "DÉBUTEZ L'EXPÉRIENCE", new_lesson_path, class:"d-block d-lg-none btn btn-kotch btn-blue btn-small-narrow btn-banner-home"  %>
    <div class="container d-block d-md-none h-100">
      <div class="row">
        <div class="col-12 my-auto">
          <div class="card-buttons-home p-4">
            <%= simple_form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
              <div class="form-inputs mb-4">
                <%= f.input :email,
                            required: false,
                            autofocus: true,
                            label: false,
                            placeholder: "Adresse e-mail" %>
                <%= f.input :password,
                            required: false,
                            label: false,
                            placeholder: "Mot de passe",
                            wrapper_html: { class: 'mb-2' } %>
                <%= link_to "Mot de passe oublié ?", new_password_path(:user), class:'link-password' %>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <%= f.button :submit, "Connexion", class: "btn btn-kotch btn-blue btn-small-wide mr-2" %>
                </div>
                <div>
                  <%= link_to "Inscription", new_user_registration_path, class: "ml-2 btn btn-kotch btn-ghost btn-small-wide" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block card-buttons-home p-4">
      <%= simple_form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
        <div class="form-inputs mb-5">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      label: false,
                      placeholder: "Adresse e-mail" %>
          <%= f.input :password,
                      required: false,
                      label: false,
                      placeholder: "Mot de passe",
                      wrapper_html: { class: 'mb-2' } %>
          <%= link_to "Mot de passe oublié ?", new_password_path(:user), class:'link-password' %>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <%= f.button :submit, "Connexion", class: "btn btn-kotch btn-blue btn-small-wide mr-2" %>
          </div>
          <div>
            <%= link_to "Inscription", new_user_registration_path, class: "ml-2 btn btn-kotch btn-ghost btn-small-wide" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="row mt-5 h-100">
    <div class="col-12 order-md-2 col-md-7 my-auto text-center px-5">
      <h2>IL Y EN A POUR TOUS LES GOÛTS</h2>
      <h3 class='mt-4'>Une grande variété de sports vous sont proposés, quelque soit votre niveau, vos envies ou capacités</h3>
    </div>
    <div class="col-12 order-md-1 col-md-5 my-auto text-center px-5">
      <div class="d-none d-md-block btn-kotch btn-md-lg btn-light-blue btn-home-1-top">FITNESS</div>
      <div class="d-none d-md-block btn-kotch btn-medium btn-red btn-home-1-middle">YOGA</div>
      <div class="d-none d-md-block btn-kotch btn-medium btn-blue btn-home-1-bottom">BOXE</div>
      <%= image_tag "home_1.png", class:'image-radius image-contaiers-home' %>
    </div>
  </div>
  <div class="row mt-5 h-100">
    <div class="col-12 col-md-7 my-auto text-center px-5">
      <h2>NOUS VOUS SUIVONS OÙ QUE VOUS ALLIEZ</h2>
      <h3 class='mt-4'>Accédez à une liste de lieux adaptés pour faire du sport, ou bien proposez votre lieu idéal </h3>
      <h3>Il ne vous reste plus qu’a programmer l’horaire souhaité !</h3>
    </div>
    <div class="col-12 col-md-5 my-auto text-center px-5">
      <div class="d-none d-md-block btn-kotch btn-md-lg btn-light-blue btn-home-2-top">LIEUX</div>
      <div class="d-none d-md-block btn-kotch btn-md-lg btn-red btn-home-2-bottom">DATES</div>
      <%= image_tag "home_2.png", class:'image-radius image-contaiers-home' %>
    </div>
  </div>
  <div class="row mt-5 h-100">
    <div class="col-12 order-md-2 col-md-7 my-auto text-center px-5">
      <h2>INVITEZ VOS AMIS À VOUS REJOINDRE</h2>
      <h3 class='mt-4'>Créez votre communauté de sportifs avec votre entourage et profitez de la messagerie privée pour programmez au mieux vos séances</h3>
    </div>
    <div class="col-12 order-md-1 col-md-5 my-auto text-center">
      <%= image_tag "home_3.png", class:'image-radius image-contaiers-home' %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center mt-md-5">
      <%= link_to "RÉSERVEZ VOTRE SÉANCE", new_lesson_path, class:"btn btn-kotch btn-red btn-big"  %>
    </div>
  </div>
</div>
