<div class="container text-center">

  <h2 class="mt-5 mb-1">SÉLECTIONNEZ l’ABONNEMENT QUI CONVIENT À VOS SALARIÉS</h2>
  <% if @prices_and_sessions[0][:percentage] %>
    <h3 class="mt-3 mt-md-0 mb-3 mb-md-5 text-blue offer-enterprise-reduction">Une remise tarifaire de <%= @prices_and_sessions[0][:percentage] %>% a été appliquée sur les tarifs affichés ci-dessous.</h3>
  <% end %>

  <% if user_signed_in? && current_user.subscription && current_user.subscription.stripe_id %>

    <h3 class="text-blue offer-enterprise-reduction mb-0 pb-0"><em>Vous avez déjà souscrit à un abonnement Koach & Co, cliquez ci-dessous pour gérer votre abonnement.</em></h3>

    <form action="/customer_portal_sessions" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button class="btn btn-medium btn-kotch btn-red my-5">Gérer mon abonnement</button>
    </form>

    <%= render 'static_offers_subscription_enterprise' %>

  <% else %>

    <div class="card-offer-container-enterprise justify-content-between mt-5">
      <% @prices_and_sessions.each do |ps| %>
        <div class="card-offer-enterprise">
          <div class="offer-content">
            <h3><%= ps[:name] %></h3>
            <span><u>sans engagement</u></span>
            <p class="btn-kotch btn-white btn-white-offer mt-4 mb-2"><%= ps[:discounted_price] %> / MOIS</p>
            <div class="d-flex justify-content-center align-items-center w-100 text-left">
              <input id="cgv" name="cgv" type="checkbox" class="mb-2 checkbox-<%= ps[:checkout_id] %>"></input>
              <label for="cgv" class="ml-2 mb-2">J'accèpte les <%= link_to "CGU", cgv_path, target: "_blank", rel: "noopener noreferrer", class: "font-weight-bold" %></label>
            </div>
            <p class="text-red border-red bg-white my-2 p-1 hidden cgv-text-<%= ps[:checkout_id] %>">Veuillez accepter les conditions générales d'utilisation pour passer au paiement.</p>
            <button class="btn btn-kotch btn-red btn-red-offer checkout-button" role="link" data-session-id="<%= ps[:checkout_id] %>">
                  CHOISIR
            </button>
          </div>
          <%= image_tag ps[:image], loading: 'lazy', class: "offer-img-sm mt-4" %>
        </div>
      <% end %>
    </div>

  <% end %>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
  const checkoutButtons = document.querySelectorAll('.checkout-button');

  checkoutButtons.forEach(checkoutButton => {
    checkoutButton.addEventListener('click', function () {
      const sessionID = checkoutButton.dataset.sessionId;
      const checkboxInpout = document.querySelector(`.checkbox-${sessionID}`);
      const cgvText = document.querySelector(`.cgv-text-${sessionID}`);

      if (checkboxInpout.checked === false) {
        cgvText.classList.remove('hidden');
      } else {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: sessionID
        })
        .then(function (result) {
          if (result.error) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer.
            var displayError = document.getElementById('error-message');
            displayError.textContent = result.error.message;
          }
        });
      }
    });
  });
</script>
