<div class="container text-center">
  <h2 class="my-5">SÉLECTIONNEZ L’ABONNEMENT QUI VOUS CONVIENT</h2>


  <div class="card-offer-container justify-content-between">
    <div class="card-offer">
      <div class="offer-content">
        <h3>4 séances / mois</h3>
        <span><u>sans engagement</u></span>
        <p class="btn-kotch btn-white btn-white-offer my-4">X€ / MOIS</p>
        <%= link_to 'CHOISIR', '#', class: "btn btn-kotch btn-red btn-red-offer" %>
      </div>
      <%= image_tag 'offer-1.png', class: "offer-img-sm" %>
    </div>

    <div class="card-offer">
      <div class="offer-content">
        <h3>8 séances / mois</h3>
        <span><u>sans engagement</u></span>
        <p class="btn-kotch btn-white btn-white-offer my-4">X€ / MOIS</p>
        <%= link_to 'CHOISIR', '#', class: "btn btn-kotch btn-red btn-red-offer" %>
      </div>
      <%= image_tag 'offer-2.png', class: "offer-img-sm" %>
    </div>

    <div class="card-offer">
      <div class="offer-content">
        <h3>12 séances / mois</h3>
        <span><u>sans engagement</u></span>
        <p class="btn-kotch btn-white btn-white-offer my-4">X€ / MOIS</p>
        <%= link_to 'CHOISIR', '#', class: "btn btn-kotch btn-red btn-red-offer" %>
      </div>
      <%= image_tag 'offer-3.png', class: "offer-img-sm" %>
    </div>
  </div>

  <h2 class="my-3 my-lg-5 py-0 py-lg-5">OU BIEN PROFITEZ DE SÉANCES À L’UNITÉ</h2>

  <div class="card-offer-container justify-content-around">
    <div class="card-offer card-offer-lightblue">
      <div class="offer-content">
        <h3>Carte 1 séance</h3>
        <span><u>valable xx jours</u></span>
        <p class="btn-kotch btn-white btn-white-offer my-4">X€ / MOIS</p>
        <%= link_to 'CHOISIR', '#', class: "btn btn-kotch btn-red btn-red-offer" %>
      </div>
      <%= image_tag 'offer-4.png', class: "offer-img-bg" %>
    </div>

    <div class="card-offer card-offer-lightblue">
      <div class="offer-content">
        <h3>Carte 10 séance</h3>
        <span><u>valable xx jours</u></span>
        <p class="btn-kotch btn-white btn-white-offer my-4">X€ / MOIS</p>
        <%= link_to 'CHOISIR', '#', class: "btn btn-kotch btn-red btn-red-offer" %>
      </div>
      <%= image_tag 'offer-5.png', class: "offer-img-bg" %>
    </div>
  </div>
</div>


<%#
REFERENCES FOR CSS CLASSES

.card-offer, .offer-content                           => _card.scss
.btn-white, .btn-white-offer, .btn-red-offer          => _buttons.scss
.card-offer-container                                 => pages/_our-offers.scss
%>
