<div class="card-offer-container justify-content-between">
  <div class="card-offer">
    <div class="offer-content">
      <h3>4 séances / mois</h3>
      <span><u>sans engagement</u></span>
      <p class="btn-kotch btn-white btn-white-offer my-4">50€ / MOIS</p>
      <%= link_to 'CHOISIR', new_user_registration_path, class: "btn btn-kotch btn-red btn-red-offer" %>
    </div>
    <%= image_tag 'homme_realisant_un_footing.png', alt: "Un homme réalisant un footing", loading: 'lazy', class: "offer-img-sm" %>
  </div>

  <div class="card-offer">
    <div class="offer-content">
      <h3>8 séances / mois</h3>
      <span><u>sans engagement</u></span>
      <p class="btn-kotch btn-white btn-white-offer my-4">90€ / MOIS</p>
      <%= link_to 'CHOISIR', new_user_registration_path, class: "btn btn-kotch btn-red btn-red-offer" %>
    </div>
    <%= image_tag 'femme_realisant_un_running.png', alt: "Une femme réalisant un running", loading: 'lazy', class: "offer-img-sm" %>
  </div>

  <div class="card-offer">
    <div class="offer-content">
      <h3>12 séances / mois</h3>
      <span><u>sans engagement</u></span>
      <p class="btn-kotch btn-white btn-white-offer my-4">120€ / MOIS</p>
      <%= link_to 'CHOISIR', new_user_registration_path, class: "btn btn-kotch btn-red btn-red-offer" %>
    </div>
    <%= image_tag 'homme_realisant_un_sprint.png', alt: "Un homme réalisant un sprint", loading: 'lazy', class: "offer-img-sm" %>
  </div>
</div>
