<div class="card-offer-container-enterprise justify-content-between">
  <div class="card-offer-enterprise">
    <div class="offer-content">
      <h3>4 séances / mois</h3>
      <span><u>sans engagement</u></span>
      <p class="btn-kotch btn-white btn-white-offer my-4"><%= @prices_and_sessions.present? ? @prices_and_sessions[0][:discounted_price] : '280 € HT' %> / MOIS</p>
      <%= link_to 'CHOISIR', enterprise_sign_up_path, class: "btn btn-kotch btn-red btn-red-offer" %>
    </div>
    <%= image_tag 'homme_realisant_un_footing.png', alt: "Un homme réalisant un footing", class: "offer-img-sm" %>
  </div>

  <div class="card-offer-enterprise">
    <div class="offer-content">
      <h3>8 séances / mois</h3>
      <span><u>sans engagement</u></span>
      <p class="btn-kotch btn-white btn-white-offer my-4"><%= @prices_and_sessions.present? ? @prices_and_sessions[1][:discounted_price] : '520 € HT' %> / MOIS</p>
      <%= link_to 'CHOISIR', enterprise_sign_up_path, class: "btn btn-kotch btn-red btn-red-offer" %>
    </div>
    <%= image_tag 'femme_realisant_un_running.png', alt: "Une femme réalisant un running", class: "offer-img-sm" %>
  </div>

  <div class="card-offer-enterprise">
    <div class="offer-content">
      <h3>12 séances / mois</h3>
      <span><u>sans engagement</u></span>
      <p class="btn-kotch btn-white btn-white-offer my-4"><%= @prices_and_sessions.present? ? @prices_and_sessions[2][:discounted_price] : '720 € HT' %> / MOIS</p>
      <%= link_to 'CHOISIR', enterprise_sign_up_path, class: "btn btn-kotch btn-red btn-red-offer" %>
    </div>
    <%= image_tag 'homme_realisant_un_sprint.png', alt: "Un homme réalisant un sprint", class: "offer-img-sm" %>
  </div>
</div>
