<div class="d-flex flex-column my-4 pr-2 my-lessons-mobile">
  <div class="d-flex flex-row justify-content-between align-items-center lessons-public-mobile-title pt-1 px-1">
    <p class="mb-1"><%= lesson.sport_type.upcase %></p>
    <p class="mb-1"><i class="far fa-calendar mr-1"></i><%= I18n.l(lesson.date, format: '%A').capitalize %> <%= I18n.l(lesson.date, format: '%e/%m/%Y') %> <i class="far fa-clock ml-2"></i> <%= lesson.date.strftime('%Hh%M') %></p>
  </div>
  <div class="d-flex flex-column shadow lessons-public-mobile-text">
    <div class="d-flex flex-row justify-content-start align-items-start mt-1">
      <div class="d-flex flex-column ml-2 lessons-public-mobile-infos">
        <p class="mt-1 mb-2"><span class="lessons-mobile-subtitle">Votre coach :</span> <%= lesson.user ? lesson.user.first_name.capitalize : 'Pas de coach' %></p>
        <p class="mb-2">
          <span class="lessons-mobile-subtitle">Statut :</span>
          <% if lesson.status == "canceled" %>
            Annulée
          <% elsif lesson.status == "pending" %>
            En attente
          <% else %>
            <%= lesson.status.capitalize %>
          <% end %>
        </p>
        <!-- Button trigger modal -->
        <button type="button" class="mb-2 p-1 border text-center participants-btn btn-plus" data-toggle="modal" data-target="#lesson-mobile-<%= lesson.id %>">
          <span class="lessons-mobile-subtitle">Participants :</span>
          <%= lesson.users.count - 1 %> / 10 <i class="fas fa-plus-circle fa-xs ml-2"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="lesson-mobile-<%= lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModal-<%= lesson.id %>Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content card-kotch">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <% lesson.users.each do |user| %>
                  <% next if user.enterprise? %>
                  <div class="mb-3">
                    <div class="d-flex justify-content-between text-blue align-items-end">
                      <p class="mb-0"><%= user.full_name %></p>
                      <p class="mb-0"><em><%= Booking.find_by(user: user, lesson: lesson).status %></em></p>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-kotch btn-blue" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column ml-1 lessons-public-mobile-infos align-items-start justify-content-start">
        <p class="mt-1 mb-2"><span class="lessons-mobile-subtitle">Lieu :</span> <%= lesson.location.name.capitalize %></p>
      </div>
    </div>
    <% unless booking.present? %>
      <div class="hidden hidden-lesson-btn-<%= lesson.id %>">
        <div class="lessons-mobile-btn d-flex align-items-start justify-content-around mt-3">
          <p><%= link_to 'Inviter des participants', invite_enterprise_employees_path(lesson), class: "btn btn-kotch btn-red mb-0 ml-1" %></p>
          <p>
            <%= link_to lesson_messages_path(lesson), class:'btn btn-kotch btn-red mb-0 mx-1' do %>
              Consulter la messagerie
            <% end %>
          </p>
        </div>
      </div>
      <div class="mb-2 italic text-center hidden hidden-lesson-btn-cancel-<%= lesson.id %>">
        <% if (lesson.creator == current_user) && !(lesson.date < DateTime.now) %>
          <%= link_to "Annuler la séance", cancel_lesson_path(lesson, cancel_customer_id: current_user.id), method: :patch, data: { confirm: "Êtes vous sûr(e) ? Cette action est irréversible." }, class:'text-small text-condensed'  %>
        <% end %>
      </div>
      <div class="w-100 border-top border-secondary mb-1"></div>
      <div class="d-flex justify-content-start align-items-center w-100 pb-1">
        <div class="col-5"></div>
        <div class="col-7">
          <i class="fas fa-chevron-down chevronDown-<%= lesson.id %>" data-id="<%= lesson.id %>" data-action="click->lesson#down"></i>
          <% if lesson.bookings&.find_by(user: current_user, messages_readed: false).present? %>
            <span class="ml-4 mb-2 text-bold">Nouveaux messages</span>
          <% end %>
        </div>
      </div>
      <div class="d-flex justify-content-around align-items-center">
        <i class="fas fa-chevron-up chevronUp-<%= lesson.id %> hidden" data-id="<%= lesson.id %>" data-action="click->lesson#up"></i>
      </div>
    <% end %>
  </div>
</div>
