<div class="card-white bg-white shadow d-flex justify-content-between p-4 mb-3 text-center">
  <div class="d-flex">
    <div class="d-flex align-items-center">
      <% if lesson.user && lesson.user.avatar.attached? %>
        <%= cl_image_tag lesson.user.avatar %>
      <% else %>
        <%= image_tag 'avatar_default.png', class:'avatar-small mr-3' %>
      <% end %>
    </div>
    <div class="d-flex align-items-center">
      <div>
        <% if lesson.user_id %>
          <p class="mb-0 text-blue text-bold text-condensed text-small">Avec coach <%= lesson.user.first_name %></p>
        <% else %>
          <p class="mb-0 text-blue text-bold text-condensed text-small">Pas de coach</p>
        <% end %>
        <div class="d-flex align-items-center">
          <p class="mb-0"><%= link_to "Voir les messages", lesson_messages_path(lesson), class:'mb-0 text-small text-condensed' %></p>
          <% if current_user.coach? %>
            <% if lesson.messages&.find_by(readed: false).present? %>
              <div class="blue-dot ml-2 mt-1"></div>
            <% end %>
          <% else %>
            <% if lesson.bookings&.find_by(user: current_user, messages_readed: false).present? %>
              <div class="blue-dot ml-2 mt-1"></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <div>
      <p class="mb-0 text-blue text-bold text-condensed text-small"><%= lesson.date.strftime('%e-%m-%y à %Hh%M')%></p>
      <div class="lesson-max-100">
        <% if !current_user.coach %>
          <% if lesson.date < DateTime.now %>
            <p class="text-blue mb-0 text-small text-condensed">Cette séance a déjà eu lieu.</p>
          <% elsif lesson.date > DateTime.now + 1.day %>
            <%= link_to "Annuler ma réservation à cette séance", booking_path(Booking.find_by(user: current_user, lesson: lesson)), method: :delete, data: {confirm: "Êtes vous sûr(e) ? Cette action est irréversible."}, class:'text-small text-condensed'  %>
          <% else %>
            <p class="text-blue mb-0 text-small text-condensed">Cette séance a lieu dans moins de 24h, vous ne pouvez pas l'annuler.</p>
          <% end %>
        <% else %>
          <%= link_to "Annuler cette séance", cancel_lesson_path(lesson), method: :patch, data: {confirm: "Êtes vous sûr(e) ? Cette action est irréversible."}, class:'text-small text-condensed'  %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#exampleModal-<%= lesson.id %>">
        <em><%= lesson.users.count %> participant(s)</em>
      </button>
      <% if current_user.coach %>
        <p class='mb-0 text-blue text-small text-condensed'><%= lesson.location.name %> </p>
      <% end %>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal-<%= lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModal-<%= lesson.id %>Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content card-kotch">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% lesson.users.each do |user| %>
              <div class="d-flex justify-content-between">
                <p><%= user.full_name %></p>
                <p><em><%= Booking.find_by(user: user, lesson: lesson).status %></em></p>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-kotch btn-blue" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
    <% if !current_user.coach %>
      <% if lesson.bookings.count <= 10 %>
        <div>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#addUserModal-<%= lesson.id %>">
            <i class="fas fa-plus-circle fa-xs"></i> inviter des participants
          </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addUserModal-<%= lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="addUserModal-<%= lesson.id %>Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content card-kotch">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-blue py-5">
                <% @users_to_invite = @friends - lesson.users.to_a %>
                <%= simple_form_for @booking do |f| %>
                  <%= f.association :user, collection: @users_to_invite.map { |m| [m.full_name, m.id] }, label: "Sélectionner parmi vos amis" %>
                  <%= f.input :lesson_id, as: :hidden, input_html: { value: lesson.id } %>
                  <%= f.submit 'Envoyer une invitation', class:'btn btn-kotch btn-blue w-100' %>
                <% end %>
                <p class="my-3"></p>
                <%= simple_form_for @booking, method: :post, url: create_by_emails_path do |f| %>
                  <%= f.input :lesson_id, as: :hidden, input_html: { value: lesson.id } %>
                  <%= text_area_tag :emails,
                    nil,
                    placeholder: "Renseignez les adresses email de vos amis pas encore inscrits et séparez-les par une virgule",
                    label: 'Envoyez des invitations par mail',
                    class: 'w-100 mt-3 p-2 many-emails-input-modal' %>
                  <%= f.submit "Envoyer les invitations", class:'btn btn-kotch btn-blue w-100 mt-2' %>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-kotch btn-light-blue" data-dismiss="modal">Annuler</button>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <p class="text-blue text-condensed text-small"> <em>Il y a dejà 10 participants à cette séance</em></p>
      <% end %>
    <% end %>
  </div>

  <div class='d-flex align-items-center'>
    <% if lesson.status == "pending" %>
      <div class="pill pill-red text-center">
        En attente
      </div>
    <% elsif lesson.status == 'Validée' %>
      <div class="pill pill-green text-center">
        <%= lesson.status %>
      </div>
    <% end %>
  </div>

  <div class="d-flex flex-column justify-content-between text-right">
      <span class="title-sport"><%= lesson.sport_type.upcase %></span>
      <% if !lesson.public %>
        <%= link_to change_lesson_public_path(lesson) do %>
          <p class=" mb-0 text-small text-condensed"><u>Passer la séance en publique</u></p>
        <% end %>
      <% else %>
        <p class="mb-0 text-blue text-condensed text-small">Séance publique</p>
      <% end %>
  </div>
</div>
