<div class="card-blue shadow p-4 mb-3 d-flex justify-content-between align-items-center">
  <div class="d-block d-md-flex justify-content-between w-100 align-items-center mt-3 mt-md-0">
    <div class="d-flex justify-content-between flex-column flex-md-row w-100 align-items-center">
      <p class="mb-0 text-blue text-bold text-condensed text-small"><%= I18n.l(lesson.date, format: '%A').upcase %> <%= lesson.date.strftime('%e/%m À %Hh%M')%></p>
      <p class="mb-0 text-blue text-bold text-condensed text-small text-center lesson-max-100"><%= lesson.location.name.upcase %></p>
      <span class="title-sport lesson-max-60 text-center"><%= lesson.sport_type.upcase %></span>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-transparent text-condensed" data-toggle="modal" data-target="#exampleModal-<%= lesson.id %>">
        <%= lesson.users.count %> / 10 INSCRITS
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal-<%= lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModal-<%= lesson.id %>Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content card-kotch">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <% lesson.users.each do |user| %>
                <div class="mb-3">
                  <div class="d-flex justify-content-between text-blue align-items-end">
                    <p class="mb-0"><%= user.full_name %></p>
                    <p class="mb-0"><em><%= Booking.find_by(user: user, lesson: lesson).status %></em></p>
                  </div>
                  <% if current_user.coach %>
                    <div>
                      <%= link_to "Voir le profil sportif", sportive_profile_path(user), class:'btn btn-kotch btn-light-blue btn-extra-small-narrow '  %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-kotch btn-blue" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
      <% if lesson.user_id %>
        <p class="mb-0 text-blue text-bold text-condensed text-small lesson-max-100 text-center">AVEC COACH <%= lesson.user.first_name.upcase %></p>
      <% else %>
        <p class="mb-0 text-blue text-bold text-condensed text-small lesson-max-100 text-center">PAS DE COACH</p>
      <% end %>
      <% if !current_user.coach %>
        <%= link_to "JE RÉSERVE", public_lesson_booking_path(lesson), class:'btn btn-kotch btn-red'  %>
      <% end %>
      <div class="d-flex justify-content-between align-items-center d-none">
        <!-- <%# if lesson.status == "pending" || "canceled" %>
          <div class="pill pill-red text-center mt-3">
            <%#= lesson.status %>
          </div>
        <%# elsif lessons.status == 'confirmé' %>
          <div class="pill pill-green text-center mt-3">
            <%#= lesson.status %>
          </div>
        <%# end %>
         -->
        <% if current_user.coach %>
          <% if lesson.user.nil?  %>
            <div>
              <%= link_to "Je souhaite coacher cette séance", be_coach_path(lesson), class: 'small-link lesson-max-60'  %>
            </div>
          <% else %>
            <p class='mb-0 text-small text-blue text-condensed lesson-max-60'>Il y a déjà un coach sur cette séance</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
