<% if current_user.coach %>
  <div class="container pt-3">
    <div class="row">
      <% if @lessons.empty? %>
        <div class="col-12 text-center">
          <h2 class="text-center">Vous n'avez pas de séance à venir</h2>
        </div>
      <% else %>
        <div class="col-12">
          <% @lessons.each do |lesson| %>
            <%= render 'lesson', lesson: lesson %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container pt-3">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">MES RÉSERVATIONS</h2>
        <% if @pending_invitations.count > 0 %>
          <h2>Vous avez des invitations en attente</h2>
          <div class="card-list-bookings-messages p-3">
            <% @pending_invitations.each do |pi| %>
              <div class="card-white shadow d-flex justify-content-between p-4 mb-3">
                <p><%= pi.lesson.date %></p>
                <p><%= pi.lesson.sport_type %></p>
                <p><%= pi.lesson.location.name %></p>
                <%= link_to "Accepter l'invitation", accept_invitation_path(pi), class:"btn btn-primary" %>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="card-list-bookings-messages p-3">
          <% @lessons.each do |lesson| %>
            <%= render 'lesson', lesson: lesson %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
