<% canonical(new_lesson_url) %>
<% content_for :meta_title, "Koach & Co | Votre séance de sport personnalisée" %>
<% content_for :meta_description, "Créez votre séance idéale et adaptée vos contraintes en quelques clics ! Sélectionnez une activité sportive, une date, une heure, un lieu en extérieur et invitez vos amis à y participer." %>

<div class="container mb-3" data-controller="lesson mapbox" data-mapbox-target="container">
  <h1 class="our-concept-title text-center my-5"><%= current_user.enterprise? ? 'PROGRAMMEZ LA SÉANCE IDÉALE POUR VOS SALARIÉS' : 'PROGRAMMEZ VOTRE PROCHAINE SÉANCE' %></h1>
  <%= simple_form_for @lesson do |f| %>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card-red card-new-lesson mt-3 mt-md-0 p-4 text-center" style="background-image: url(<%= asset_path 'backgroundblue1.png' %>);">
          <h2><em>SPORT</em></h2>
          <%= f.input :sport_type, collection: Lesson::SPORTS, label: false, include_blank: "Choisissez l'activité", input_html: { 'data-action' => 'change->lesson#sportSelect', class: "sports-select" }, required: true %>
          <div class="p-2 pl-3 sports-description">
            <p class="text-gray lesson-new-input" data-lesson-target="defaultText">Sélectionnez une activité pour afficher les caractéristiques de la séance</p>
            <p class="mb-1 text-gray"><span class="text-coral text-xbold">Descriptif</span> : <span data-lesson-target="description" class="lesson-new-input">...</span></p>
            <p class="mb-1 text-gray"><span class="text-coral text-xbold">Niveau d'intensité</span> : <span data-lesson-target="intensity" class="lesson-new-input">...</span></p>
            <p class="mb-1 text-gray"><span class="text-coral text-xbold">Durée</span> : <span data-lesson-target="duration" class="lesson-new-input">...</span></p>
            <p class="text-gray italic hidden mb-0" id="small-text" data-lesson-target="infoText">Pensez à prendre votre tapis ou une grande serviette pour chaque séance.</p>
          </div>
        </div>
      </div>
      <% if current_user.enterprise? %>
        <%= f.input :status, as: :hidden, input_html: { value: 'Pre-validée' } %>
        <div class="col-12 col-md-4">
          <div class="card-red card-new-lesson mt-3 mt-md-0 p-4 text-center">
            <h2><em>DATE</em></h2>
            <%= f.input :date, as: :string, label: false, placeholder: "Choisissez la date et l'heure*", input_html: { class: "datepicker" } %>
            <p class="text-left text-small italic mb-4">* Il est possible de réserver uniquement des séances à un horizon d’un mois sous condition d’avoir le solde de séances nécessaires.</p>
            <%= f.input :reccurency,
                        collection: Lesson.reccurencies.keys.map { |m| [I18n.t("reccurencies.#{m}"), m] },
                        legend_tag: false,
                        value: Lesson.reccurencies.keys.first,
                        label: 'Je souhaite rendre périodique (hebdomadaire) ma réservation ?',
                        label_html: { class: "text-center text-blue font-weight-bold" },
                        required: false %>
          </div>
        </div>
      <% else %>
        <div class="col-12 col-md-4">
          <div class="card-red card-new-lesson mt-3 mt-md-0 p-4 text-center" style="background-image: url(<%= asset_path 'backgroundblue2.png' %>);">
            <h2><em>DATE & LIEU</em></h2>
            <%= f.input :date, as: :string, label: false, placeholder: "Choisissez la date et l'heure", input_html: { class: "datepicker" } %>
            <%= text_field_tag :address, nil, placeholder: "Renseignez l'adresse postale exacte...", id: 'location_name', class:'new-address-input', 'data-mapbox-target' => 'address', 'data-action' => "click->mapbox#addressSelect" %>
            <div class="mb-3"></div>
            <button type="button" class="btn btn-kotch btn-light-blue w-100 btn-modal lesson-new-mapbox-btn pl-3" data-toggle="modal" data-target=".bd-example-modal-lg">Voir les lieux disponibles sur la carte</button>
            <%= f.association :location, collection: @locations, label_method: :name, value_method: :id, label: false, input_html: { id: "location-collection", class: "mt-3", 'data-mapbox-target' => 'collection', disabled: true } %>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-mapbox-target="modal">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div id="map"
                   style="width: 100%; height: 600px;"
                   data-markers="<%= @markers.to_json %>"
                   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% if current_user.enterprise? %>
        <div class="col-12 col-md-4">
          <div class="card-red card-new-lesson mt-3 mt-md-0 p-4 text-center" style="background-image: url(<%= asset_path 'backgroundblue1.png' %>);">
            <h2><em>LIEU</em></h2>
            <%= text_field_tag :address, nil, placeholder: "Renseignez l'adresse postale exacte...", id: 'location_name', class:'new-address-input', 'data-mapbox-target' => 'address', 'data-action' => "click->mapbox#addressSelect" %>
            <div class="mb-3"></div>
            <button type="button" class="btn btn-kotch btn-light-blue w-100 btn-modal lesson-new-mapbox-btn pl-3" data-toggle="modal" data-target=".bd-example-modal-lg">Voir les lieux disponibles sur la carte</button>
            <%= f.association :location, collection: @locations, label_method: :name, value_method: :id, label: false, input_html: { id: "location-collection", class: "mt-3", 'data-mapbox-target' => 'collection', disabled: true } %>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-mapbox-target="modal">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div id="map"
                   style="width: 100%; height: 600px;"
                   data-markers="<%= @markers.to_json %>"
                   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-12 col-md-4">
          <div class="card-red card-new-lesson mt-3 mt-md-0 p-4 text-center" style="background-image: url(<%= asset_path 'backgroundblue1.png' %>);">
            <h2><em>INVITEZ VOS AMIS</em></h2>
            <% if current_user.coach %>
              <em class="text-blue">Réservé aux clients</em>
            <% else %>
              <%= select_tag "friends",
                options_from_collection_for_select(@friends, :id, :full_name),
                multiple: true,
                class: 'select2' %>
              <div class="my-4 font-weight-bold text-white italic input-separator">ET / OU</div>
              <%= text_area_tag :emails,
                nil,
                placeholder: "Renseignez les adresses email de vos amis pas encore inscrits et séparez-les par une virgule",
                class: 'p-2 many-emails-input' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center mt-0 mt-md-4">
      <%= f.submit "VALIDEZ VOTRE SÉANCE", class:'btn btn-kotch btn-blue btn-md-lg mt-4' %>
    </div>
  <% end %>
</div>
