<div class="container mb-3">
  <h1 class='text-center mb-0 mb-md-5'>PROGRAMMEZ VOTRE PROCHAINE SÉANCE</h1>
  <%= simple_form_for @lesson do |f| %>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card-red card-new-lesson mt-3 mt-md-0 p-4 text-center" style="background-image: url(<%= asset_path 'backgroundblue1.png' %>);">
          <h2><em>SPORT</em></h2>
          <%= f.input :sport_type, collection: Lesson::SPORTS, label: false %>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card-red card-new-lesson mt-3 mt-md-0 p-4 text-center" style="background-image: url(<%= asset_path 'backgroundblue2.png' %>);">
          <h2><em>DATE & LIEU</em></h2>
          <%= f.input :date, as: :string, label: false, placeholder: "Date & heure", input_html: {class: "datepicker"} %>
          <%= f.association :location, label: false %>
          <button type="button" class="btn btn-kotch btn-light-blue w-100" data-toggle="modal" data-target=".bd-example-modal-lg">Voir tous les lieux disponibles sur la carte</button>

          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div id="map"
                 style="width: 100%; height: 600px;"
                 data-markers="<%= @markers.to_json %>"
                 data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card-red card-new-lesson mt-3 mt-md-0 p-4 text-center" style="background-image: url(<%= asset_path 'backgroundblue1.png' %>);">
          <h2><em>INVITEZ VOS AMIS</em></h2>
          <%= select_tag "friends", options_from_collection_for_select(
          @friends, :id, :full_name), multiple: true,
          class: 'select2' %>

        </div>
      </div>
    </div>
    <div class="text-center">
      <%= f.submit "VALIDER MA SÉANCE", class:'btn btn-kotch btn-blue btn-md-lg mt-4' %>
    </div>
  <% end %>
</div>
