<% canonical(new_user_session_url) %>
<% content_for :meta_title, "Koach & Co | Une connexion rapide et facile" %>
<% content_for :meta_description, "Connectez vous rapidement et profitez d'une interface simple, pour une utilisation au quotidien, que ce soit sur smartphone ou ordinateur." %>

<div class="container">
  <div class="row mt-2 h-100">
    <div class="col-12 col-lg-6 px-5 my-auto">
      <div class="card-red p-5">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        label: false,
                        placeholer: "Adresse e-mail" %>
            <%= f.input :password,
                        required: false,
                        label: false,
                        placeholer: "Mot de passe" %>
            <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "JE ME CONNECTE", class:'btn btn-kotch btn-blue w-100 btn-small-wide' %>
          </div>
        <% end %>
        <div class="mt-4">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 px-5 d-none d-lg-block my-auto">
      <%= image_tag "image-account.png", alt: "Une femme souriante après une séance de sport", loading: 'lazy', class:'w-100' %>
    </div>
  </div>
</div>

