<div class="container">
  <div class="row">
    <div class="col">
      <h5 class='text-blue text-condensed text-bold mt-4'>Évolution du nombre d'abonnés</h5>
      <%= link_to "Export CSV", export_number_of_users_path(data: @users)  %>
      <table>
        <thead>
          <tr class="text-center">
            <% @users.keys.each do |month| %>
              <th><%= month.strftime('%b %Y') %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <% @users.values.each do |value| %>
              <th>
                <%= value %>
              </th>
            <% end %>
          </tr>
        </tbody>
      </table>
      <h5 class='text-blue text-condensed text-bold mt-4'>Évolution du nombre de coach</h5>
      <%= link_to "Export CSV", export_number_of_coachs_path(data: @coachs)  %>
      <table>
        <thead>
          <tr class="text-center">
            <% @coachs.keys.each do |month| %>
              <th><%= month.strftime('%b %Y') %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <% @coachs.values.each do |value| %>
              <th>
                <%= value %>
              </th>
            <% end %>
          </tr>
        </tbody>
      </table>
      <h5 class='text-blue text-condensed text-bold mt-4'>Nombre de participation à une séance via abonnement</h5>
      <%= link_to "Export CSV", export_lessons_sub_path(data: @bookings)  %>
      <table>
        <thead>
          <tr class="text-center">
            <% @bookings.keys.each do |month| %>
              <th><%= month.strftime('%b %Y') %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <% @bookings.values.each do |bookings| %>
              <th><%= bookings.count %></th>
            <% end %>
          </tr>
        </tbody>
      </table>
      <h5 class='text-blue text-condensed text-bold mt-4'>Nombre de participation à une séance via crédits</h5>
      <%= link_to "Export CSV", export_lessons_credit_path(data: @bookings_credit)  %>
      <table>
        <thead>
          <tr class="text-center">
            <% @bookings_credit.keys.each do |month| %>
              <th><%= month.strftime('%b %Y') %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <% @bookings_credit.values.each do |bookings| %>
              <th><%= bookings.count %></th>
            <% end %>
          </tr>
        </tbody>
      </table>
      <h5 class='text-blue text-condensed text-bold mt-4'>Moyenne du taux de remplissage des séances de sport</h5>
      <%= link_to "Export CSV", export_filling_rate_path(data: @lessons_filling_rate )  %>
      <table>
        <thead>
          <tr class="text-center">
            <% @lessons_filling_rate.each do |rate| %>
              <th><%= rate[:month] %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <% @lessons_filling_rate.each do |rate| %>
              <th><%= rate[:average_filling_rate]*100 %>%</th>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
