<% canonical(enterprise_sign_up_url) %>
<% content_for :meta_title, "Koach & Co | Inscription pour les entreprises" %>
<% content_for :meta_description, "Vous êtes une entreprise et vous souhaitez utiliser Koach & Co afin de réserver des séances de sport pour vos salariés ? Inscrivez-vous directement sur ce lien ou bien contactez nous directement." %>

<div class="container">
  <% if user_signed_in? %>
    <div class="text-center">
      Vous avez déjà créé votre compte.
    </div>
  <% else %>
    <h1 class="our-concept-title text-center my-5">créez votre profil entreprise</h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name, user_type: 'enterprise')) do |f| %>
            <%= f.error_notification %>
            <%= f.input :status, as: :hidden, input_html: { value: :enterprise } %>
      <div class="row mt-2 h-100">
        <div class="col-12 col-lg-6 px-3 px-lg-5 my-auto">
          <div class="card-red p-3 p-lg-4">
            <div class="form-inputs">
              <div class="text-center">
                <%= image_tag "avatar_default.png", class:'avatar' %>
                <%= f.input :avatar, as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo-enterprise italic'}, label: 'Ajouter un logo' %>
              </div>
              <div class="row">
                <div class="col-12 px-2 my-0">
                  <%= f.input :enterprise_name,
                              label: false,
                              input_html: { class: 'enterprise-signup-form' },
                              placeholder: "nom de l'entreprise*" %>
                </div>
              </div>
              <div class="row">
                <div class="col-6 px-2 my-0">
                  <%= f.input :last_name,
                              label: false,
                              input_html: { class: 'enterprise-signup-form' },
                              placeholder: 'nom responsable' %>
                </div>
                <div class="col-6 px-2 my-0">
                  <%= f.input :first_name,
                              label: false,
                              input_html: { class: 'enterprise-signup-form' },
                              placeholder: 'prénom responsable' %>
                </div>
              </div>
              <div class="row">
                <div class="col-6 px-2 my-0">
                  <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email", class: 'enterprise-signup-form' },
                          label: false,
                          placeholder: 'email responsable*' %>
                </div>
                <div class="col-6 px-2 my-0">
                  <%= f.input :phone_number,
                              label: false,
                              input_html: { class: 'enterprise-signup-form' },
                              placeholder: 'téléphone responsable*' %>
                </div>
              </div>
              <div class="row">
                <div class="col-6 px-2 my-0">
                  <%= f.input :password,
                              required: true,
                              hint: ("#{@minimum_password_length} charactères minimum" if @minimum_password_length),
                              input_html: { autocomplete: "new-password", class: 'enterprise-signup-form' },
                              label: false,
                              placeholder: 'mot de passe*' %>
                </div>
                <div class="col-6 px-2 my-0">
                  <%= f.input :password_confirmation,
                              required: true,
                              input_html: { autocomplete: "new-password", class: 'enterprise-signup-form' },
                              label: false,
                              placeholder: 'confirmation mot de passe*' %>
                </div>
              </div>
              <div class="row">
                <div class="col-12 px-2 my-0">
                  <small><%= f.input :terms, as: :boolean, label_html: { class: "italic text-justify" }, label: "En cochant cette case, vous consentez à recevoir des propositions commerciales par voie électronique. Vous pouvez vous désinscrire à tout moment en modifiant vos paramètres sur votre compte et à travers les liens de désinscription." %></small>
                  <small><%= f.input :optin_cgv, as: :boolean, label_html: { class: "italic" }, label: ("Je reconnais avoir lu et accepté les #{link_to "Conditions Générales d'Utilisation", cgu_path(enterprise_signup: true), target: "_blank", rel: 'noopener noreferrer', class: "cgv"}").html_safe, error: 'Veuillez cocher les CGU pour pouvoir créer votre compte.' %></small>
                </div>
                <div class="col-12 px-2 my-0">
                  <%= f.button :submit, "JE CRÉE MON COMPTE", class:'btn btn-kotch btn-blue w-100 btn-small-wide' %>
                  <small class="text-white"><em>* Ces éléments sont obligatoires pour que la création de votre profil soit validée</em></small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 px-5 d-none d-lg-block my-auto">
          <%= image_tag "femme_prete_pour_sa_séance_de_sport.png", alt: "Une femme souriante après une séance de sport", class:'w-100' %>
        </div>
    <% end %>
  <% end %>
</div>
