<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M8CKGN8');</script>
    <!-- End Google Tag Manager -->

    <title>Koach & Co : vos séances de sport en plein air et à proximité</title>
    <meta name="description" content="Retrouvez votre coach sportif où, quand, et avec qui vous voulez sur des séances en plein air ! Votre abonnement de sport flexible et sans engagement.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src=https://www.googletagmanager.com/ns.html?id=GTM-M8CKGN8
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <% if action_name == "home" %>
      <div class="main-container-home">
    <% else %>
      <div class="main-container">
    <% end %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>

      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
